.game_global{
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    width: auto;
    height: auto;
    margin: 20px;
}


.noneGame {
    display: none;
}

.game{
    height: 350px;
    width: 250px;
    background-color: gray;
    border-radius: 10px;
}

.game_title{
    color: white;
    font-size: 30px;
    height: 70px;
}

.game_img{
    height: 100px;
    width: auto;
    border-radius: 500%;
}

